/* NavBar */
.ul-navbar {
  list-style-type: none;
  margin-bottom: 10px;
  padding: 0;
  overflow: hidden;
  background-color: #52b6de;

}

li {
  float: left;
}

li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

h3 a {
  text-decoration: none;
  color: black;

}

/* Search bar */

.search-bar {
  padding: 2%;
  display: flex;
  justify-content: center;
}

.search-container {
  background-image: url("./images/dogs_header.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #AADAE6;
}

.search-label {
  flex-grow: 1;
}

.background {
  background-color: white;
}