/* NavBar */
.ul-navbar {
  list-style-type: none;
  margin-bottom: 10px;
  padding: 0;
  overflow: hidden;
  background-color: white;


}

li {
  float: left;
}

li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(237, 235, 235);
}

h3 a {
  text-decoration: none;
  color: black;

}

/* Search bar */

.search-bar {
  padding: 2%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  /* border-color: ghostwhite; */
  background-color: ghostwhite;
}

.search-container {
  background-image: url("/images/dogs_header.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-position: bottom;
  background-position-x: 80%;


  padding-left: 100px;
  min-height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: white; */
  background-color: #AADAE6;
  margin-bottom: 2%;

}

.search-label {
  flex-grow: 1;
  padding-right: 30px;
}



.background {
  background-color: white;
}

img {
  float: left;
  display: flex;
  width: 300px;
}

/* CSS */
.button {
  background-color: #AADAE6;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:focus {
  outline: 0;
}

.button:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}