.banner{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 80%;
    padding-left: 85px;
    padding-top: 10px;
    min-height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #AADAE6;
    margin-bottom: 2%;
  }